{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center position-absolute top-50 start-50 translate-middle col-md-3">
        <h1 class="text-center mt-6 text-white">Register</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            <div class="mb-3">
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_widget(registrationForm.role, {'attr': {'class': 'form-select'}}) }}
            </div>
            
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-lg btn-success float-right">Register </button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
